.close {
    cursor: pointer;
    position: absolute;
    width: 18px;
    height: 18px;
    right: 5px;
    top: 5px;
    background-color: transparent;
    border: none;
    opacity: 0.4;
}

.close:hover {
    opacity: 1;
}

.close:focus {
    outline: none;
}

.close:before, .close:after {
    position: absolute;
    width: 2px;
    height: 18px;
    top: 0;
    left: 8px;
    content: ' ';
    background-color: #333;
}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}