.formButton {
    cursor: pointer;
    padding: 5px;
    text-transform: uppercase;
    background-color: transparent;
    border: none;
}

.success {
    color: green;
}

.cancel {
    color: darkred;
}