.inRowButton {
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    border: none;
}

button:focus {
    outline: 0;
}

.edit {
    background: deepskyblue;
}

.delete {
    background: salmon;
}